body {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form input {
  padding: 0.5rem;
  text-align: center;
}

form button {
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
}
