main {
  min-height: calc(100vh - 160px);
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.card-text {
  max-height: 150px;
}
img {
  max-height: 200px;
  object-fit: cover;
}
.card {
  height: 100%;
}
